<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Minecraft_GUI_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Minecraft_GUI_Project.Properties.Settings>
            <setting name="Lang" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkingDiretory" serializeAs="String">
                <value />
            </setting>
            <setting name="JarParam" serializeAs="String">
                <value />
            </setting>
            <setting name="JavaParam" serializeAs="String">
                <value>-Xms1024M -Xmx10024M -XX:MaxPermSize=128M</value>
            </setting>
        </Minecraft_GUI_Project.Properties.Settings>
    </userSettings>
</configuration>